flutter_advanced_demo/.metadata
flutter_advanced_demo/pubspec.lock
flutter_advanced_demo/android/gradle/
flutter_advanced_demo_package/pubspec.lock
flutter_advanced_demo_package/flutter_advanced_demo_package.iml
flutter_advanced_demo_package/.flutter-plugins
flutter_advanced_demo_package/LICENSE
flutter_advanced_demo_package/CHANGELOG.md
flutter_advanced_demo_package/.metadata
flutter_advanced_demo_package/.idea/
